body {
    font-family: 'Raleway', sans-serif;
    padding-top: 70px;
}

.register_background{
    
    background-image: url(http://lorempixel.com/1920/200/business);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
    z-index: -1; 
}

.round_top{
    
    margin-top: -20px;
    border-radius: 15px 15px 0px 0px;
    z-index: 1;
    background-color: #231f20;
}

#input.form-control {
    background-color: #231f20;
    border: 0px solid;
    padding-left: 0px;
    font-size: 1.4em;
    color: #ffffff;
    
}

.register label{
    font-size: 0.9em;
    color: #4b4b4b;
    margin-bottom: 0px;
    width: 100%;
}

.register span
{
    float: right;
    margin-top: -5px;

}

 ::placeholder
{
    color: #ffffff !important;
}

hr
{
    margin-bottom: 0px;
}

form hr.top
{
    border-top: 3px solid #4b4b4b;
    width: 50px;
    border-radius: 1px 1px 1px 1px;
}

.collapse{
    
    background-color: darkorange;
    padding-left: 10px;
}

.select-tiles
{

    min-height: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 2em;
    padding-top: 20px;
    color: #bdbdbd;
    min-width: 150px;

}

.select-tiles:hover
{
    color: #fff;
    background-image: linear-gradient(-90deg, #fca953, #ed8317);
}

h1.header{
    font-size: 1.8em;
}

.select-tiles a
{
    text-decoration: none;
    color: #bdbdbd;

}

.select-tiles a:hover{
    color: #fff;
}






