body {
    font-family: 'Raleway', sans-serif;
    padding-top: 55px;
}

body.register, body.index {
    font-family: 'Raleway', sans-serif;
    padding-top: 0px;
}


.register_background{
    
    background-image: url(http://lorempixel.com/1920/200/business);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 200px;
    z-index: -1; 
}

.round_top{
    
    margin-top: -20px;
    border-radius: 15px 15px 0px 0px;
    z-index: 1;
    background-color: #231f20;
}

.register input.form-control, .claim input.form-control {
    background-color: #231f20;
    border: 0px solid;
    padding-left: 0px;
    font-size: 1.4em;
    color: #ffffff;
    
}

.register label, .claim label{
    font-size: 0.9em;
    color: #4b4b4b;
    margin-bottom: 0px;
    width: 100%;
}

.register span, .claim span
{
    float: right;
    margin-top: -5px;

}

 ::placeholder
{
    color: #ffffff !important;
}

hr
{
    margin-bottom: 0px;
}

form hr.top
{
    border-top: 3px solid #4b4b4b;
    width: 50px;
    border-radius: 1px 1px 1px 1px;
}

.collapse{
    
    background-color: darkorange;
    padding-left: 10px;
}

h1.header{
    font-size: 1.8em;
}

.select-tiles a
{
    color: #bdbdbd;
    display: inline-block;
    padding: 20px;
    min-height: 150px;
    min-width: 150px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 1.6em;
    padding-top: 30px;

}

.select-tiles a:hover
{
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(-90deg, #fca953, #ed8317);
    -webkit-box-shadow: 1px 22px 46px 3px rgba(26,24,26,0.3);
    -moz-box-shadow: 1px 22px 46px 3px rgba(26,24,26,0.3);
    box-shadow: 1px 22px 46px 3px rgba(26,24,26,0.3);

}

.select-tiles i
{
    font-size: 0.8em;
}

img.headshot{
    max-height: 80px;

}

.p-description h1
{
    font-size: 1.2em;
}

div.social i
{
    font-size: 2em;
    color: #8e8e8e;
}

.social p
{
    font-size: 1.4em;
}

.black-background
{
    background: #000;
    color: #fff;

}

.results
{
    background-color: #363032;
    border-radius: 5px;
}

p.heading
{
    font-size: 1.3em;
}

.light{
    color: #6f6769;
}

.results ul
{
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
}

.results ul li
{
    margin-top: 10px;
    font-size: 0.8em;
}

.large-text
{
    font-size: 1.3em;
}

.listed #input.form-control {
    background-color: #000;
    border: 0px solid;
    padding-left: 0px;
    font-size: 1.4em;
    color: #ffffff;

}

form.search input.form-control {
    background-color: #000;
    border: 0px solid;
    padding-left: 0px;
    font-size: 1.4em;
    color: #ffffff;

}

form.search label{
    font-size: 0.9em;
    color: #4b4b4b;
    margin-bottom: 0px;
    width: 100%;
}

form.search span
{
    float: right;
    margin-top: -5px;

}

form.search label
{
    color: #f59333;
}

.table{
    color: #fff;
    font-size: 0.8em;

}

.table td, .table th, .table thead th {
     border: 0px;
}

.table input.form-check-input{
    margin: 0px;
    padding: 0px;
}

.total
{
    background-color: #f59333;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 5px;
    font-size: 1.2em;
    padding-left: 30px;
    padding-right: 30px;
}

.btn
{
    border: 1px solid #f59333;
    color: #f59333;
}


table tr:hover{
    border: 1px solid #f59333;


}


table th
{
    padding-left: 25px !important;
}

body.index
{
    background-image: url('/img/index_background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
  background-position: center;

}

body.index .btn
{
    border: 1px solid #fff;
    color: #f59333;
    color: #fff;
}

body.index .btn:hover
{
    border: 1px solid #fff;
    color: #f59333;

}

div.index i{
    font-size: 5em;
    color: #fff;

}

div.index a{
    text-decoration: none;
    color: #fff;

}

div.index a:hover, div.index i:hover {
    text-decoration: none;
    color: #000;

}

div.index img{
    margin-bottom: 220px;
    text-align: center;
}

/* Video modal */

.modal-dialog {

    max-width: 800px;
    margin: 30px auto;

  }

.modal-body {
  position:relative;
  padding: 0px;
}

.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}

body.index .video-btn
{
    border: 0px;
    background: transparent;
}

body.index .video-btn:hover
{
    border: 0px;
    background: transparent;
    color: #fff;
}

td.dots{
    font-size: 2em;
    line-height: 0.4em;
}

div.timeline p{
    font-size: 1.2em;
    margin-bottom: 10px;
}

div.timeline hr{
    border-left: 2px solid #fff;
    height: 80px;
    margin-left: 50%;
    margin-bottom: 20px;

}











